<app-builder-sidebar-container [innerHeight]="innerHeight">
  <app-builder-sidebar-menu [innerHeight]="innerHeight"></app-builder-sidebar-menu>
  <div [ngClass]="tabContainerClass" [ngStyle]="{ height: innerHeight - 56 + 'px' }">
    <app-builder-sidebar-templates
      [tabName]="templatesTab"
      [activeSetting]="activeSetting"
    ></app-builder-sidebar-templates>
    <app-builder-sidebar-adjust [tabName]="adjustTab"></app-builder-sidebar-adjust>
    <app-builder-sidebar-animate
      [tabName]="animateTab"
      [activeComponentMetadata]="activeComponentMetadata"
      [website]="website"
      [activeSetting]="activeSetting"
    ></app-builder-sidebar-animate>
    <app-builder-sidebar-font
      [tabName]="fontsTab"
      [activeComponentMetadata]="activeComponentMetadata"
      [website]="website"
      [activeSetting]="activeSetting"
      [activePageIndex]="activePageIndex"
      [activeFontName]="activeFontName"
      [activeToolbarElement]="activeToolbarElement"
    ></app-builder-sidebar-font>
    <app-builder-sidebar-colour
      [activeToolbarElement]="activeToolbarElement"
      [activeToolbarColourSetting]="activeToolbarColourSetting"
      [activeComponentMetadata]="activeComponentMetadata"
      [website]="website"
      [activeSetting]="activeSetting"
      [activePageIndex]="activePageIndex"
    ></app-builder-sidebar-colour>
    <app-builder-sidebar-photos
      [activeComponentMetadata]="activeComponentMetadata"
      [tabClass]="photosTab"
      [photos]="photos"
      [initialPhotos]="photos"
      [photosLoaded]="unsplashPhotosLoaded"
      [photoCategories]="photoCategories"
      [photoCategoriesLoaded]="photoCategoriesLoaded"
      [activeSetting]="activeSetting"
      [innerHeight]="innerHeight"
    ></app-builder-sidebar-photos>
    <app-builder-sidebar-text
      [activeComponentMetadata]="activeComponentMetadata"
      [tabClass]="textTab"
      [activeSetting]="activeSetting"
      [innerHeight]="innerHeight"
      [textItems]="textItems"
    ></app-builder-sidebar-text>
    <app-builder-sidebar-elements
      [tabClass]="elementsTab"
      [activeSetting]="activeSetting"
      [innerHeight]="innerHeight"
      [elementImageLibrary]="imageLibrary"
      [elementButtonLibrary]="buttonLibrary"
      [activeComponentMetadata]="activeComponentMetadata"
    ></app-builder-sidebar-elements>
    <app-builder-sidebar-uploads
      [activeComponentMetadata]="activeComponentMetadata"
      [tabName]="uploadsTab"
      [activeSetting]="activeSetting"
    ></app-builder-sidebar-uploads>
  </div>
</app-builder-sidebar-container>
