<!--<ng-container *ngIf="displayOption">-->
<!--  <p class="settings-row-label" [innerText]="settings['sectionHeader']"></p>-->
<!--  <div class="settings-outer-container">-->
<!--    <div class="settings-container-grid">-->
<!--      <div class="settings-row-slider">-->
<!--        <div class="settings-row-outer-slider-container">-->
<!--          <input (input)="setSliderValue($event)" (change)="setSliderValue($event)" class="settings-row-range-input-container" type="range"-->
<!--            min="{{settings['floor']}}" max="{{settings['ceil']}}" step="{{settings['step']}}" [(value)]="sliderValue">-->
<!--          <div class="settings-row-range-input">-->
<!--            <div class="settings-row-slider-full-bar">-->
<!--              <div class="settings-row-slider-midway-bar" style="width: calc(50% - 2px);"></div>-->
<!--              <div class="settings-row-slider-midway-tick"></div>-->
<!--            </div>-->
<!--            <div class="settings-row-slider-filled-bar" [ngStyle]="sliderWidth">-->
<!--              <div class="settings-row-current-fill">-->
<!--                <div class="settings-row-slider-handle"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <input [(ngModel)]="sliderValue" (input)="setSliderValue($event)" class="settings-row-input" type="number" max="{{settings['ceil']}}" min="{{settings['floor']}}" placeholder="&#45;&#45;"-->
<!--        step="{{settings['step']}}" value="{{sliderValue}}">-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->
